<?xml version="1.0"?>

-<config>


-<modules>


-<pricelizer_module>

<version>1.0.0</version>


-<depends>

<!-- no dependencies -->


</depends>

</pricelizer_module>

</modules>


-<global>


-<models>


-<module>

<class>Pricelizer_Module_Model</class>

<resourceModel>module_mysql4</resourceModel>

</module>


-<module_mysql4>

<class>Pricelizer_Module_Model_Mysql4</class>


-<entities>


-<table1>

<table>Abandon_cart_licensekey</table>

</table1>


-<table2>

<table>Abandon_cart_users</table>

</table2>


-<table3>

<table>abandon_email_template</table>

</table3>


-<table4>

<table>abandon_cart</table>

</table4>


-<table5>

<table>Abandon_added_product</table>

</table5>


-<table5>

<table>abandoned_user_ip</table>

</table5>


-<table6>

<table>abandoned_extensionsetting</table>

</table6>


-<table7>

<table>Abandoned_email_subscription</table>

</table7>

</entities>

</module_mysql4>

</models>

<blocks/>


-<resources>


-<module_setup>


-<setup>

<module>Prielizer_Module</module>

</setup>


-<connection>

<use>core_setup</use>

</connection>

</module_setup>


-<module_setup>


-<connection>

<use>core_write</use>

</connection>

</module_setup>


-<module_setup>


-<connection>

<use>core_read</use>

</connection>

</module_setup>

</resources>

<extraconfig/>


-<helpers>


-<module>

<class>Pricelizer_Module_Helper</class>

</module>

</helpers>

</global>


-<frontend>


-<events>


-<sales_order_place_after>


-<observers>


-<module_setup_sales_order_place_after>

<class>Pricelizer_Module_Model_Observer</class>

<method>salesOrderPlaceAfter</method>

</module_setup_sales_order_place_after>

</observers>

</sales_order_place_after>

</events>

</frontend>


-<admin>


-<routers>


-<pricelizer_module>

<use>admin</use>


-<args>

<module>Pricelizer_Module</module>

<frontName>module</frontName>

</args>


-<args>


-<modules>

<foo_bar before="Mage_Adminhtml">Pricelizer_Module_Adminhtml</foo_bar>

</modules>

</args>

</pricelizer_module>

</routers>

</admin>


-<frontend>


-<routers>


-<module>

<use>standard</use>


-<args>

<module>Pricelizer_Module</module>

<frontName>abandon</frontName>

</args>

</module>

</routers>

</frontend>

</config>
